textarea{
  width: 100%;
}

select, input{
  width: 100%;
  padding: 1rem;
}
a {
  padding: 1rem;
  cursor: pointer;
}
td{

  padding: 1rem;
}

html {
  font-size: 62.5% !important;
  font-family: "montserratregular";
  font-weight: 400;
}

body {
  font-size: 1.5rem !important;
  line-height: 1.5rem !important;
  background-color: $light-gray;
}

button {
  background-color: $green-accent;
  border: 1px solid $white;
  border-radius: 5px;
  color:$white;
}
