@media (min-width: 320px) {
  .container {
    width: 90%;
    margin: 0 auto;
  }
}

@media (min-width: 768px) {
  .container {
    width: 90%;
    margin: 0 auto;
  }
}
@media (min-width: 992px) {
  .container {
    width: 90%;
    margin: 0 auto;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
    margin: 0 auto;
  }
}

.grid {
  display: grid;
}

.grid-inline {
  display: inline-grid;
}

.column3{
  grid-template-columns: repeat(3,1fr);
  grid-gap: 3rem;
  
  @media (max-width: 1024px){
    grid-template-columns: repeat(2,1fr);
    grid-gap: 2.5rem;
  }
  
  @media (max-width: 590px){
    grid-template-columns: 1fr;
    grid-gap: 2rem;
  }
  
}

