.banner {
  background-color: #fff;
  width: 88%;
  float: right;
  padding: 3rem 0;
  border: 2px solid $dark-gray;

  &__wrapper {
    width: 95%;
    margin: 0 auto;

    h1 {
      font-family: "montserratextrabold";
    }
  }
}
