.header {
  background-color: $primary-color;
  float: right;

  &__wrapper {
    width: 95%;
    margin: 0 auto;
    padding: 1rem 0;
    color: #fff;

    .header-content {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .header-schoolyear {
        font-family: "montserratregular";
        span {
          margin-left: 2rem;
          font-family: "montserratextrabold";
        }
      }
      .header-profile {
        width: 20%;
        display: flex;
        align-items: center;
        h2 {
          font-size: 1.5rem;
          line-height: 1.5rem;
        }
        h3 {
          font-size: 1.5rem;
          text-align: right;
        }

        .personal-img {
          width: 15%;
          img {
            width: 100%;
            margin: 0 2rem;
            border-radius: 100%;
          }
          @media (max-width: 1062px) {
            width: 20%;
          }
        }
        span {
          font-size: 2rem;
          font-family: "montserratextrabold";
          margin: 0 3rem;
        }
      }
    }
  }
}
