.searchbanner {
  background-color: #fff;
  float: right;
  padding: 1rem 0;
  border: 2px solid $dark-gray;
  &__wrapper {
    width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;

    h1 {
      display: inline;
      margin-right: 3rem;
      width: 20%;
      font-family: "montserratextrabold";
    }
    input {
      width: 60%;
      padding: 1rem;
      border: 1px solid $light-gray;

      @media (max-width: 1062px) {
        margin: 1rem 0;
        width: 96%;
      }

      @media (max-width: 1000px) {
        margin: 1rem 0;
        width: 95%;
      }

      @media (max-width: 786px) {
        margin: 1rem 0;
        width: 94%;
      }
    }

    .buttoncreatenew {
      margin-left: 2rem;
      button {
        a.item-center {
          display: flex;
          align-items: center;
        }
        @media (max-width: 1062px) {
          width: 100%;
          text-align: center;
        }
      }
      @media (max-width: 1062px) {
        margin-left: unset;
      }
    }
    @media (max-width: 1062px) {
      display: block;
    }
  }
}
