.studentlist {
  margin: 2rem 2rem;
  &__wrapper {
    table {
      width: 100%;
      background-color: #fff;

      tr {
        th {
          border: 1px solid $dark-gray;
          background-color: lighten($dark-gray, 10%);
          padding: 1.5rem;
        }

        td {
          border: 1px solid $dark-gray;
        }
        .td-block {
          @media (max-width: 1290px) {
            display: none;
          }
        }
        .td-block-fn {
          @media (max-width: 425px) {
            display: none;
          }
        }
      }
      tr:hover {
        background-color: lighten($black, 90%);
      }
    }
  }
}
