$primary-color: #35475e;
$dark-bg: #243245;
$light-bg: #3c506a;
$blue-accent: #0597df;
$dark-gray: #d4dae5;
$light-gray: #eef1f7;
$green-accent: #5fa45f;
$yellow-warning: #fb8c15;
$red-critical: #dd3c10;
